body {
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],   

input[type="email"],
input[type="number"]   
 { /* Ajout du type number pour le champ age */
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;   

  padding: 12px 20px;
  border: none;
  border-radius:   
 3px;
  cursor: pointer;
}